UserDao/.gradle/4.6/fileChanges/last-build.bin
UserDao/.gradle/4.6/fileHashes/fileHashes.bin
UserDao/.gradle/4.6/fileHashes/fileHashes.lock
UserDao/.gradle/vcsWorkingDirs/gc.properties
workspace.xml
misc.xml
